:root {
  --magenta-purple: #B03B8D;
  --dusty-lilac: #C378CB;
  --blush-pink: #EABDE6;
  --lavender-text: #6a1b9a;
  --button-main: #ba68c8;
  --button-hover: #9c27b0;
  --timer-purple: #9383e9;
  --vibrant-magenta: #C65FA3;
  --deep-magenta: #8A2E70;
  --soft-lilac: #e5a7ed;
  --moody-lavender: #A55DAE;
}